## Get price of the item
Develop a function which returns a tuple with 2-tuples. 
* Each tuple consists of a the order number and the product of the price per items and the quantity.
* The product should be increased by 10, if the value of the product is smaller than 100.
* The list contains order number, Book Title and Author ,item quantity and item per price.

Note : Please use functions such as map, filter, reduce, etc to come up with the solution.

In [9]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

## Step 1: Preview the data
* Let us first preview the data.

In [10]:
orders

[['34587', 'Learning Python, Mark Lutz', 4, 40.95],
 ['98762', 'Programming Python, Mark Lutz', 5, 56.8],
 ['77226', 'Head First Python, Paul Barry', 3, 32.95],
 ['88112', 'Einführung in Python3, Bernd Klein', 3, 24.99]]

In [11]:
type(orders)

list

In [12]:
len(orders)

4

In [13]:
for order in orders:
    print(f'The type of the record {orders} is {type(order)}')

The type of the record [['34587', 'Learning Python, Mark Lutz', 4, 40.95], ['98762', 'Programming Python, Mark Lutz', 5, 56.8], ['77226', 'Head First Python, Paul Barry', 3, 32.95], ['88112', 'Einführung in Python3, Bernd Klein', 3, 24.99]] is <class 'list'>
The type of the record [['34587', 'Learning Python, Mark Lutz', 4, 40.95], ['98762', 'Programming Python, Mark Lutz', 5, 56.8], ['77226', 'Head First Python, Paul Barry', 3, 32.95], ['88112', 'Einführung in Python3, Bernd Klein', 3, 24.99]] is <class 'list'>
The type of the record [['34587', 'Learning Python, Mark Lutz', 4, 40.95], ['98762', 'Programming Python, Mark Lutz', 5, 56.8], ['77226', 'Head First Python, Paul Barry', 3, 32.95], ['88112', 'Einführung in Python3, Bernd Klein', 3, 24.99]] is <class 'list'>
The type of the record [['34587', 'Learning Python, Mark Lutz', 4, 40.95], ['98762', 'Programming Python, Mark Lutz', 5, 56.8], ['77226', 'Head First Python, Paul Barry', 3, 32.95], ['88112', 'Einführung in Python3, Bernd Klein', 3, 24.99]] is <class 'list'>

## Step 2: Provide the solution
Now come up with the solution by developing the required logic. Once the function is developed, go to the next step to take care of the validation.

In [ ]:
def get_price_of_the_product(orders)
#your code should go here

    return invoice_totals

### Step 3: Validate the function

Let us validate the function by running below cells.

In [ ]:
invoice_totals = get_price_of_the_product(orders)

In [ ]:
type(invoice_totals)   #It should be tuple.

In [ ]:
invoice_totals   #Expected output is (('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97))