## Movies ratings and budgets

Develop the function to get list of dictionarys which contains name of movie,audience ratings and budget of movie.
* The input data is present in list of tuples and it contains the fields in order- Name of Film, Genre, Rotten Tomato Ratings(%), Audience Ratings(%) and Budget(In Millions).
* The output data should be in form of list of dictionarys which should contain name of movie, audience ratings and budget of movie.
* The output data should be sorted in descending order by audience ratings.
* This scanerio can be solved by using map reduce functions such as `map`.

In [ ]:
movies=[
 ('12 Rounds', 'Action', 30, 52, 20),
 ('17 Again', 'Comedy', 55, 70, 20),
 ('2012', 'Action', 39, 63, 200),
 ('30 Days of Night', 'Horror', 50, 57, 32),
 ('30 Minutes or Less', 'Comedy', 43, 48, 28),
 ('50/50', 'Comedy', 93, 93, 8),
 ('88 Minutes', 'Drama', 5, 51, 30),
 ('A Dangerous Method', 'Drama', 79, 89, 20),
 ('A Nightmare on Elm Street', 'Horror', 13, 40, 35),
 ('A Serious Man', 'Drama', 89, 64, 7),
 ('A Very Harold and Kumar Christmas', 'Comedy', 72, 71, 19),
 ('Abduction', 'Action', 4, 46, 35),
 ('Across the Universe', 'Romance', 54, 84, 45),
 ('Adventureland', 'Comedy', 89, 56, 10)]

**Step 1: Preview the Data**

In [ ]:
movies

In [ ]:
type(movies)

In [ ]:
len(movies)

**Step 2: Provide the Solution**

Provide the solution for the scanerio below.

In [ ]:
def movie_ratings_and_budget(movies):
    #Develop your logic here
    return movies_audience_ratings_and_budgets

**Step 3: Validate the Function**

Let us validate the function by running below cells.

The desired output should be-
``` python
 movies_audience_ratings_and_budgets=[
     {'Name':'50/50','Audience Ratings': 93,'Budget': 8},
     {'Name':'A Dangerous Method','Audience Ratings':89,'Budget':20},
     {'Name':'Across the Universe','Audience Ratings':84,'Budget':45},
     {'Name':'A Very Harold and Kumar Christmas','Audience Ratings':71,'Budget':19},
     {'Name':'17 Again','Audience Ratings':70,'Budget': 20},
     {'Name':'A Serious Man','Audience Ratings':64,'Budget':7},
     {'Name':'2012','Audience Ratings':63,'Budget':200},
     {'Name':'30 Days of Night','Audience Ratings':57,'Budget':32},
     {'Name':'Adventureland','Audience Ratings':56,'Budget':10},
     {'Name':'12 Rounds','Audience Ratings':52,'Budget':20},
     {'Name':'88 Minutes','Audience Ratings':51,'Budget':30},
     {'Name':'30 Minutes or Less','Audience Ratings':48,'Budget':28},
     {'Name':'Abduction','Audience Ratings':46,'Budget':35},
     {'Name':'A Nightmare on Elm Street','Audience Ratings':40,'Budget':35}]
 ```

In [ ]:
movies_audience_ratings_and_budgets=movie_ratings_and_budget(movies)
movies_audience_ratings_and_budgets

In [ ]:
type(movies_audience_ratings_and_budgets) #list

In [ ]:
len(movies_audience_ratings_and_budgets) #14

In [ ]:
movies_audience_ratings_and_budgets[0] #{'Name':'50/50','Audience Ratings': 93,'Budget': 8}

In [ ]:
type(movies_audience_ratings_and_budgets[0]) #dictionary