## Sort Data by Scheduled Dates

Develop logic to sort the data by scheduled dates. We will be providing list of tuples which contain Name, Location, Scheduled Date.
* Create a function which take list (which contain tuples) as argument and return sorted list with tuples.
* Data should be sorted in ascending order by date and then in ascending order by name.

**Hint: Use `sorted` function to come up with the solution**

In [1]:
aspirants = [('Pardha Saradhi', 'India', '7/31/2021'),
 ('Asasri', 'India', '8/10/2021'),
 ('Sai Akshith', 'India', '7/30/2021'),
 ('Anmol', 'India', '7/25/2021'),
 ('Shravan', 'India', '7/28/2021'),
 ('Aditya', 'USA', '7/31/2021'),
 ('Prasanth ', 'USA', '8/14/2021'),
 ('Sahana', 'India', '7/26/2021'),
 ('Surendranatha Reddy', 'India', '7/25/2021'),
 ('Venkat ', 'USA', '7/26/2021')]

### Step 1: Preview the data

Let us first preview the data.

In [2]:
aspirants

[('Pardha Saradhi', 'India', '7/31/2021'),
 ('Asasri', 'India', '8/10/2021'),
 ('Sai Akshith', 'India', '7/30/2021'),
 ('Anmol', 'India', '7/25/2021'),
 ('Shravan', 'India', '7/28/2021'),
 ('Aditya', 'USA', '7/31/2021'),
 ('Prasanth ', 'USA', '8/14/2021'),
 ('Sahana', 'India', '7/26/2021'),
 ('Surendranatha Reddy', 'India', '7/25/2021'),
 ('Venkat ', 'USA', '7/26/2021')]

In [3]:
type(aspirants)

list

In [4]:
len(aspirants)

10

In [5]:
for aspirant in aspirants:
    print(f'The type of value {aspirant} is {type(aspirant)}')

The type of value ('Pardha Saradhi', 'India', '7/31/2021') is <class 'tuple'>
The type of value ('Asasri', 'India', '8/10/2021') is <class 'tuple'>
The type of value ('Sai Akshith', 'India', '7/30/2021') is <class 'tuple'>
The type of value ('Anmol', 'India', '7/25/2021') is <class 'tuple'>
The type of value ('Shravan', 'India', '7/28/2021') is <class 'tuple'>
The type of value ('Aditya', 'USA', '7/31/2021') is <class 'tuple'>
The type of value ('Prasanth ', 'USA', '8/14/2021') is <class 'tuple'>
The type of value ('Sahana', 'India', '7/26/2021') is <class 'tuple'>
The type of value ('Surendranatha Reddy', 'India', '7/25/2021') is <class 'tuple'>
The type of value ('Venkat ', 'USA', '7/26/2021') is <class 'tuple'>

### Step 2: Provide the solution

Now come up with the solution by developing the required logic. Once the function is developed, go to the next step to take care of the validation.

In [16]:
# The logic should go here
import datetime
def sort_data_by_scheduled_date(aspirants):
    sorted_aspirants = sorted(
        aspirants, 
        key=lambda aspirant: (datetime.datetime.strptime(aspirant[2], '%m/%d/%Y'), aspirant[0])
    )
    return sorted_aspirants

### Step 3: Validate the function

Let us validate the function by running below cells.
* Here is the expected output.

```python
[('Anmol', 'India', '7/25/2021'),
 ('Surendranatha Reddy', 'India', '7/25/2021'),
 ('Sahana', 'India', '7/26/2021'),
 ('Venkat ', 'USA', '7/26/2021'),
 ('Shravan', 'India', '7/28/2021'),
 ('Sai Akshith', 'India', '7/30/2021'),
 ('Aditya', 'USA', '7/31/2021'),
 ('Pardha Saradhi', 'India', '7/31/2021'),
 ('Asasri', 'India', '8/10/2021'),
 ('Prasanth ', 'USA', '8/14/2021')]
```

In [17]:
sorted_aspirants = sort_data_by_scheduled_date(aspirants)
sorted_aspirants

[('Anmol', 'India', '7/25/2021'),
 ('Surendranatha Reddy', 'India', '7/25/2021'),
 ('Sahana', 'India', '7/26/2021'),
 ('Venkat ', 'USA', '7/26/2021'),
 ('Shravan', 'India', '7/28/2021'),
 ('Sai Akshith', 'India', '7/30/2021'),
 ('Aditya', 'USA', '7/31/2021'),
 ('Pardha Saradhi', 'India', '7/31/2021'),
 ('Asasri', 'India', '8/10/2021'),
 ('Prasanth ', 'USA', '8/14/2021')]

In [18]:
type(sorted_aspirants) # It should be list

list

In [19]:
len(sorted_aspirants) # It should be 10

10

In [20]:
type(sorted_aspirants[0]) # It should be tuple.

tuple