## Write bike details to tab delimited file

Develop a fuction to write the data to a tab delimited file using provided bike data and attributes.
* The function should take 4 arguments - list of tuples which contain bike details, list of strings with the attribute names, location of the file as well as the delimiter. We will test the function using `\t` as delimiter.
* We need to convert the attributes as well as each tuple from the bike details to tab delimited strings.
* The attributes should be the first line in the file followed by data in ascending order by year followed by ascending order by name.

In [1]:
attributes = ['name', 'selling_price', 'year', 'seller_type', 'owner', 'km_driven']

In [2]:
bike_details = [('Royal Enfield Classic 350', 175000, 2019, 'Individual', '1st owner', 350),
 ('Honda Dio', 45000, 2017, 'Individual', '1st owner', 5650),
 ('Royal Enfield Classic Gunmetal Grey', 150000, 2018, 'Individual', '1st owner', 12000),
 ('Yamaha Fazer FI V 2.0 [2016-2018]', 65000, 2015, 'Individual', '1st owner', 23000),
 ('Yamaha SZ [2013-2014]', 20000, 2011, 'Individual', '2nd owner', 21000),
 ('Honda CB Twister', 18000, 2010, 'Individual', '1st owner', 60000),
 ('Honda CB Hornet 160R', 78500, 2018, 'Individual', '1st owner', 17000),
 ('Royal Enfield Bullet 350 [2007-2011]', 180000, 2008, 'Individual', '2nd owner', 39000),
 ('Hero Honda CBZ extreme', 30000, 2010, 'Individual', '1st owner', 32000),
 ('Bajaj Discover 125', 50000, 2016, 'Individual', '1st owner', 42000)]

## Step 1: Preview the data
* Let us first preview the data.

In [3]:
attributes

['name', 'selling_price', 'year', 'seller_type', 'owner', 'km_driven']

In [4]:
type(attributes)

list

In [5]:
bike_details

[('Royal Enfield Classic 350', 175000, 2019, 'Individual', '1st owner', 350),
 ('Honda Dio', 45000, 2017, 'Individual', '1st owner', 5650),
 ('Royal Enfield Classic Gunmetal Grey',
  150000,
  2018,
  'Individual',
  '1st owner',
  12000),
 ('Yamaha Fazer FI V 2.0 [2016-2018]',
  65000,
  2015,
  'Individual',
  '1st owner',
  23000),
 ('Yamaha SZ [2013-2014]', 20000, 2011, 'Individual', '2nd owner', 21000),
 ('Honda CB Twister', 18000, 2010, 'Individual', '1st owner', 60000),
 ('Honda CB Hornet 160R', 78500, 2018, 'Individual', '1st owner', 17000),
 ('Royal Enfield Bullet 350 [2007-2011]',
  180000,
  2008,
  'Individual',
  '2nd owner',
  39000),
 ('Hero Honda CBZ extreme', 30000, 2010, 'Individual', '1st owner', 32000),
 ('Bajaj Discover 125', 50000, 2016, 'Individual', '1st owner', 42000)]

In [6]:
type(bike_details)

list

In [7]:
bike_details[0]

('Royal Enfield Classic 350', 175000, 2019, 'Individual', '1st owner', 350)

In [8]:
type(bike_details[0])

tuple

## Step 2: Provide the solution
Now come up with the solution by developing the required logic. Once the function is developed, go to the next step to take care of the validation.

In [9]:
'\t'.join(attributes)

'name\tselling_price\tyear\tseller_type\towner\tkm_driven'

In [10]:
bike = bike_details[0]
bike

('Royal Enfield Classic 350', 175000, 2019, 'Individual', '1st owner', 350)

In [11]:
'\t'.join(bike) # fails as we have integers in our data

TypeError: sequence item 1: expected str instance, int found

In [12]:
'\t'.join(map(lambda value: str(value), bike))

'Royal Enfield Classic 350\t175000\t2019\tIndividual\t1st owner\t350'

In [13]:
list(
    map(
        lambda bike: '\t'.join(map(lambda value: str(value), bike)),
        bike_details
    )
)

['Royal Enfield Classic 350\t175000\t2019\tIndividual\t1st owner\t350',
 'Honda Dio\t45000\t2017\tIndividual\t1st owner\t5650',
 'Royal Enfield Classic Gunmetal Grey\t150000\t2018\tIndividual\t1st owner\t12000',
 'Yamaha Fazer FI V 2.0 [2016-2018]\t65000\t2015\tIndividual\t1st owner\t23000',
 'Yamaha SZ [2013-2014]\t20000\t2011\tIndividual\t2nd owner\t21000',
 'Honda CB Twister\t18000\t2010\tIndividual\t1st owner\t60000',
 'Honda CB Hornet 160R\t78500\t2018\tIndividual\t1st owner\t17000',
 'Royal Enfield Bullet 350 [2007-2011]\t180000\t2008\tIndividual\t2nd owner\t39000',
 'Hero Honda CBZ extreme\t30000\t2010\tIndividual\t1st owner\t32000',
 'Bajaj Discover 125\t50000\t2016\tIndividual\t1st owner\t42000']

In [14]:
!rm -rf output/bikes/*

In [15]:
!mkdir -p output/bikes

In [16]:
location = 'output/bikes/bikes_delimited.tsv'

In [18]:
bike_file = open(location, 'a')

In [19]:
bike_file.write('\t'.join(attributes))

51

In [20]:
bike_file.close()

In [21]:
open(location).read()

'name\tselling_price\tyear\tseller_type\towner\tkm_driven'

In [22]:
open(location).read().splitlines()

['name\tselling_price\tyear\tseller_type\towner\tkm_driven']

In [23]:
bike_file = open(location, 'a')

In [24]:
for bike in list(
    map(
        lambda bike: '\t'.join(map(lambda value: str(value), bike)),
        bike_details
    )
):
    bike_file.write(bike) # This will write the data with out new line character as record delimiter

In [25]:
bike_file.close()

In [26]:
open(location).read().splitlines() # The results are not as expected

['name\tselling_price\tyear\tseller_type\towner\tkm_drivenRoyal Enfield Classic 350\t175000\t2019\tIndividual\t1st owner\t350Honda Dio\t45000\t2017\tIndividual\t1st owner\t5650Royal Enfield Classic Gunmetal Grey\t150000\t2018\tIndividual\t1st owner\t12000Yamaha Fazer FI V 2.0 [2016-2018]\t65000\t2015\tIndividual\t1st owner\t23000Yamaha SZ [2013-2014]\t20000\t2011\tIndividual\t2nd owner\t21000Honda CB Twister\t18000\t2010\tIndividual\t1st owner\t60000Honda CB Hornet 160R\t78500\t2018\tIndividual\t1st owner\t17000Royal Enfield Bullet 350 [2007-2011]\t180000\t2008\tIndividual\t2nd owner\t39000Hero Honda CBZ extreme\t30000\t2010\tIndividual\t1st owner\t32000Bajaj Discover 125\t50000\t2016\tIndividual\t1st owner\t42000']

In [27]:
!rm -rf output/bikes/*

In [28]:
bike_file = open(location, 'a')

In [29]:
bike_file.write('\t'.join(attributes))

51

In [30]:
bike_file.write('\n')

1

In [31]:
for bike in list(
    map(
        lambda bike: '\t'.join(map(lambda value: str(value), bike)),
        bike_details
    )
):
    bike_file.write(f'{bike}\n') # Adding new line character after each record

In [32]:
bike_file.close()

In [33]:
open(location).read().splitlines() # The results are not as expected

['name\tselling_price\tyear\tseller_type\towner\tkm_driven',
 'Royal Enfield Classic 350\t175000\t2019\tIndividual\t1st owner\t350',
 'Honda Dio\t45000\t2017\tIndividual\t1st owner\t5650',
 'Royal Enfield Classic Gunmetal Grey\t150000\t2018\tIndividual\t1st owner\t12000',
 'Yamaha Fazer FI V 2.0 [2016-2018]\t65000\t2015\tIndividual\t1st owner\t23000',
 'Yamaha SZ [2013-2014]\t20000\t2011\tIndividual\t2nd owner\t21000',
 'Honda CB Twister\t18000\t2010\tIndividual\t1st owner\t60000',
 'Honda CB Hornet 160R\t78500\t2018\tIndividual\t1st owner\t17000',
 'Royal Enfield Bullet 350 [2007-2011]\t180000\t2008\tIndividual\t2nd owner\t39000',
 'Hero Honda CBZ extreme\t30000\t2010\tIndividual\t1st owner\t32000',
 'Bajaj Discover 125\t50000\t2016\tIndividual\t1st owner\t42000']

In [34]:
def write_bike_details(attributes, bike_details, location, delimiter='\t'):
    #Your code should go here
    bike_file = open(location, 'a')
    
    bike_file.write('\t'.join(attributes))
    bike_file.write('\n')
    
    for bike in list(
        map(
            lambda bike: '\t'.join(map(lambda value: str(value), bike)),
            bike_details
        )
    ):
        bike_file.write(f'{bike}\n')

    bike_file.close()
    return

### Step 3: Validate the function

Here is the desired output.

```
name	selling_price	year	seller_type	owner	km_driven
Royal Enfield Bullet 350 [2007-2011]	180000	2008	Individual	2nd owner	39000
Hero Honda CBZ extreme	30000	2010	Individual	1st owner	32000
Honda CB Twister	18000	2010	Individual	1st owner	60000
Yamaha SZ [2013-2014]	20000	2011	Individual	2nd owner	21000
Yamaha Fazer FI V 2.0 [2016-2018]	65000	2015	Individual	1st owner	23000
Bajaj Discover 125	50000	2016	Individual	1st owner	42000
Honda Dio	45000	2017	Individual	1st owner	5650
Honda CB Hornet 160R	78500	2018	Individual	1st owner	17000
Royal Enfield Classic Gunmetal Grey	150000	2018	Individual	1st owner	12000
Royal Enfield Classic 350	175000	2019	Individual	1st owner	350
```

In [35]:
!mkdir -p output/bikes
!rm output/bikes/bikes_delimited.tsv
location = 'output/bikes/bikes_delimited.tsv'
write_bike_details(attributes, bike_details, location)
!cat output/bikes/bikes_delimited.tsv

name	selling_price	year	seller_type	owner	km_driven
Royal Enfield Classic 350	175000	2019	Individual	1st owner	350
Honda Dio	45000	2017	Individual	1st owner	5650
Royal Enfield Classic Gunmetal Grey	150000	2018	Individual	1st owner	12000
Yamaha Fazer FI V 2.0 [2016-2018]	65000	2015	Individual	1st owner	23000
Yamaha SZ [2013-2014]	20000	2011	Individual	2nd owner	21000
Honda CB Twister	18000	2010	Individual	1st owner	60000
Honda CB Hornet 160R	78500	2018	Individual	1st owner	17000
Royal Enfield Bullet 350 [2007-2011]	180000	2008	Individual	2nd owner	39000
Hero Honda CBZ extreme	30000	2010	Individual	1st owner	32000
Bajaj Discover 125	50000	2016	Individual	1st owner	42000

In [36]:
!wc -l output/bikes/bikes_delimited.tsv # 11 output/bikes/bikes_delimited.tsv

11 output/bikes/bikes_delimited.tsv

In [37]:
import pandas as pd
pd.read_csv('output/bikes/bikes_delimited.tsv', sep='\t')
# You should get a neat and clean Pandas table with 10 records

,name,selling_price,year,seller_type,owner,km_driven
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350
1,Honda Dio,45000,2017,Individual,1st owner,5650
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000
5,Honda CB Twister,18000,2010,Individual,1st owner,60000
6,Honda CB Hornet 160R,78500,2018,Individual,1st owner,17000
7,Royal Enfield Bullet 350 [2007-2011],180000,2008,Individual,2nd owner,39000
8,Hero Honda CBZ extreme,30000,2010,Individual,1st owner,32000
9,Bajaj Discover 125,50000,2016,Individual,1st owner,42000